<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragement :: head"></head>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>

<script th:inline="javascript" type="text/javascript">
    function queryByPages(pageNum) {
        $("input[name=pageNum]").val(pageNum);
        $("#adminUserForm").ajaxSubmit({
            url: "/usersAddress.do",
            dataType: "json",
            type: "post",
            success: function (data) {
                var data2 = eval(data.pageInfo);
                loadBody(data2);
            }
        })
    }

    function loadBody(pages) {
        $("tbody").html("");
        $("tfoot").html("");
        $.each(pages.list, function (n, vals) {
            $("tbody").append("<tr id='" + vals.id + "'>\n" +
                "                <td>" + vals.id + "</td>\n" +
                "                <td>" + vals.userName + "</td>\n" +
                "                <td>" + vals.addrProvince + "" + vals.addrCity + "" + vals.addrArea + "</td>\n" +
                "                <td>" + vals.addrAddress + "</td>\n" +
                "                <td>" + vals.recipientsPhone + "</td>\n" +
                "                <td>" + vals.recipientsName + "</td>\n" +
                "              </tr>")
        });
        $("tfoot").append("<tr>\n" +
            "                        <td colspan='9' id='page'>" +
            "                        <input id='prePage' type='hidden' value='" + pages.prePage + "'>" +
            "                        当前页&nbsp;" + pages.pageNum + ",共" + pages.pages + "页,总记录数&nbsp;" + pages.total + ".&nbsp;&nbsp;&nbsp;&nbsp;\n" +
            "                        <a href='javascript:queryByPages(1);'>首页</a>&nbsp;" +
            "                        </td>\n" +
            "                        </tr>");
        if (pages.hasPreviousPage) {
            $("#page").append("<a href='javascript:queryByPages(" + pages.prePage + ");'>上一页</a>&nbsp;");
        }
        if (pages.hasNextPage) {
            $("#page").append("<a href='javascript:queryByPages(" + pages.nextPage + ");'>下一页</a>&nbsp;\n");
        }
        $("#page").append("<a href='javascript:queryByPages(" + pages.pages + ");'>尾页</a>");
    }


</script>
<body onload="queryByPages(1)">
<nav th:replace="commons/fragement :: bodyTop"></nav>

<div class="container-fluid">
    <div class="row">
        <div th:replace="commons/fragement :: bodyLeft"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div><h2>客户地址信息查看</h2></div>
            <div style="clear: both"></div>
            <div class="table-responsive">
                <form method="post" enctype="multipart/form-data" id="adminUserForm" action="">
                    用户名:&nbsp;<label>
                    <input type="text" name="username"/>
                </label>&nbsp;&nbsp;&nbsp;
                    <input type="button" value="查询" onclick="queryByPages(1)">
                    <input type="hidden" name="pageNum">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>省市区</th>
                            <th>详细地址</th>
                            <th>收货人电话</th>
                            <th>收货人姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </form>
            </div>
        </main>
    </div>
</div>

<div th:replace="commons/onload_js :: onloadJS"></div>
</body>
</html>