body{  margin:0; background-color: #F9F9F9 }
ul,p{margin: 0;padding: 0;list-style: none;}
a{cursor: pointer;}

/*网页顶部*/
.header{  font: 12px Arial,Helvetica,sans-serif;  color: #333;  }
/*Part 1*/
/*登录注册 Left*/
.nav-top{  height: 35px;  border-bottom: 1px solid #dbdbdb;  background: #fafafa;  line-height: 35px;  }
.wrap{  width: 1200px;  margin: 0 auto;  }
.tleft{float:left;}
.tleft span{  letter-spacing: 2px;  }
.tleft a{  text-decoration: none;  color: #66A5D5;  }
.tleft a:hover{  text-decoration: none;  color: #FFA366;  }
/*辅助功能 Right*/
.tright{  float: right;  height: 21px;  padding-top: 8px;  line-height: 25px;  letter-spacing: 1px;  }
.tright ul li{float: left;}
.tright a{  text-decoration: none;  color: #61646E;  }

/*Part 2*/
/*Logo*/
.nav-mid{  height: 104px;  line-height: 104px;  }
.wrap2{  width:1200px;  margin:20px auto;  }
.logo{  width: 211px;  float: left;  margin-top: 10px;  }
.search{  float: left;  }
.step{ margin-top: -15px;  margin-left: 100px;  }
.kuang{float: left;position: relative;}
.kuang input{  width:330px; height:25px;  border:1px solid #FF3C3C; border-width: 3px}
.an {  float: left;position: relative;  }
.an input{  width:100px; height:31px;background:#FF3C3C;border:1px solid #FF3C3C;border-width: 3px;color: white;letter-spacing: 5px;  }


/*Part 3*/
/*主导航栏*/
.wrap3{ width: 550px;  white-space: nowrap;    overflow: hidden;  height: 40px;  *zoom: 1;  *position: absolute; left: 187px;top: 180px }
.wrap3 li{  float: left;  margin-left: 20px;  font-size: 17px;  font-weight: bold;  color: #353535;  }
.wrap3 a{  color: black;}
.wrap3 a:hover{  color:#FF3C3C;  }


/*Part 4*/
/*轮转图片*/
.wrap4{  width: 790px;  height: 405px; position: absolute; left: 212px; top:44px;}
.page-con li{  font-size: 12px;  display: inline-block;  background-color: #3E3E3E;  color: white;  width: 18px;  height: 18px;  border-radius: 50%;  text-align: center;  cursor: pointer;}
.page-con{  position: absolute;  bottom: 15px;  width: 100%;  text-align: center;  }
.page-con a:hover{  color: #b61d1d;  }

/*Part 5*/
/*资讯窗口*/
.wrap5 {  width: 248px;  height: 403px;   position: absolute;left: 1001px;top: 44px;  border-top: 1px #FFC930 solid ;  border-right: 1px #FFC930 solid ;  border-bottom: 1px #F6A62B solid ;background-color: white  }
.page{  padding-top: 12px;  margin: auto 13px;  }
.page dt{  padding-bottom: 5px;  border-bottom: 1px #CCCCCC dotted;  }
.page dd{  padding-top: 12px;  font-size: 12px;  }
.pic {  padding-top: 20px;  }

.page a:hover{
    color:#b1191a ;
}

/*Part 6*/
/*商品展示窗口*/
.menu{
    margin-top: 30px;
    margin-left: 40px;
   /* position: relative;
    top: 60px;
    left: 40px;*/
    width: 1252px;
}
/*导航*/
.mtop{
    border-bottom: 2px #FF4500 solid;
}
.mtop h3{
    margin-left: 5px;
    color: #FF4500;
    width: 300px;
}
.mt_right{
    float: right;
    color: #999;
    letter-spacing:2px;
    margin-top: -20px;
}
/*div 1*/
.a_view{
    float: left;
    width: 209px;
    height: 362px;
    background: #fff;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    overflow: hidden;
}
.a_view table td{
    border-bottom: 1px #f4f4f4 dotted;
}
.tag{
    padding: 20px 30px;
}
.tag tr td{
    font-size: 13px;
}
/*div 2*/
.b_view{
    float: left;
}
/*div 3*/
.c_view{
    float: left;
    background-color: white;
    width: 249px;
    height: 181px;
    text-align: center;
}

.c_viewBorder{
    border-right: 1px #CCCCCC solid;
}
.border_type1{
    border-bottom: 1px #CCCCCC solid;
    height: 181px;
    z-index: 100000;
}
.border_type2{
    height: 181px;
    z-index: 100000;
}
/*div 4*/
.d_view{
    float: left;
    background-color: white;
    width: 236px;
    height: 362px;
    text-align: center;
    border-left:1px #CCCCCC solid ;
    border-right:1px #CCCCCC solid ;
}

/*div 2引申*/
.box{
    height: 174px;
    background-color: white;
    border-left:1px #CCCCCC solid ;

    margin-top: -5px;
}
.box_t{
    float: left;
    width: 200px;
}
.box_p{
    float: left;
}
/*div 3引申*/
.c_view2{
    float: left;
    background-color: white;
    width: 236px;
    height: 536px;
    text-align: center;
}
.border_type3{
    border-bottom: 1px #CCCCCC solid;
    height: 170px;
    z-index: 100000;
}
.border_type4{
    border-bottom: 1px #CCCCCC solid;
    height: 170px;
    z-index: 100000;
}
.border_type5{
    margin-top: -10px;
    border-left: 1px #CCCCCC solid;

    height: 174px;
    z-index: 100001;
}
/*div 4引申*/
.border_type6{
    border-left: 1px #CCCCCC solid;
    border-bottom: 1px #CCCCCC solid;
    height: 360px;
    z-index: 100001;
    margin-top: -9px;
}
.border_type7{
    border-left: 1px #CCCCCC solid;
    margin-top: -10px;
    height:174px;
    z-index: 100001;
}

/*div 5引申*/
.border_type9{
    border-left: 1px #CCCCCC solid;
    height: 360px;
    z-index: 100001;
    margin-top: -9px;
}
.border_type8{
    border-left: 1px #CCCCCC solid;
    margin-top: -10px;
    height:174px;
    z-index: 100001;
    border-bottom: 1px #CCCCCC solid;
}


/*Part 8*/
/*版权*/
#footer{
    width: 100%;
    margin: 50px auto 0 auto;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
}
#footer p a{
    color: #999999;
}
#footer p a:hover{
    color: #E3CA48;
}
#footer p{
    color: #999999;
    letter-spacing: 1px;
    padding-top: 10px;
}

