<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
</head>

<body class="text-center">
<form class="form-signin" id="login" action="" method="post">
    <img class="mb-4" src="/img/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">管理员登录入口</h1>
    <label class="sr-only">Username</label>
    <input name="usernames" id="usernames" type="text" class="form-control" placeholder="Username" required=""
           autofocus="">
    <label class="sr-only">Password</label>
    <input name="passwords" id="passwords" th:name="passwords" type="password" class="form-control" placeholder="Password"
           required="">
    <!--<div class="checkbox mb-3">-->
    <!--<label>-->
    <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->
    <!--</div>-->
    <button id="logins" type="button" class="btn btn-lg btn-primary btn-block">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    <a class="btn btn-sm">中文</a>
    <a class="btn btn-sm">English</a>
</form>


<script type="text/javascript">
    $("#logins").click(function () {
        var username = $("#usernames").val();
        var passwd = $("#passwords").val();
        var password = $.md5(passwd);
        $.ajax({
            url: "/index.do",
            dataType: "json",
            type: "post",
            data: {"username": username, "password": password},
            success: function (data) {
                alert(data.message);
                if (data.message == "登陆成功") {
                    window.location.href = "/query";
                }
            },
            error: function () {
                alert("登陆失败，账号或密码不正确")
            }
        });
    });

</script>
</body>

</html>