<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script>
        // /**
        //  * 提示信息
        //  * @param status
        //  */
        // function checkStatus(status) {
        //     switch (status) {
        //         case 401:
        //             alert("用户名必须由3-10位字母、数字、下划线组成，且首位只能是字母");
        //             break;
        //         case 402:
        //             alert("密码不能为空");
        //             break;
        //         case 403:
        //             alert("密码长度必须在6-18位之间");
        //             break;
        //         case 404:
        //             alert("邮箱不能为空");
        //             break;
        //         case 405:
        //             alert("邮箱格式不正确");
        //             break;
        //         case 406:
        //             alert("手机号码不符合规范");
        //             break;
        //         case 407:
        //             alert("用户名已存在");
        //             break;
        //         case 408:
        //             alert("手机号已存在");
        //             break;
        //         case 409:
        //             alert("邮箱已存在");
        //             break;
        //         case 410:
        //             alert("验证码错误");
        //             break;
        //         /* case 411:
        //              alert("验证码已发送");
        //              break;*/
        //         case 412:
        //             alert("验证码发送失败");
        //             break;
        //         case 413:
        //             alert("验证码不能为空");
        //             break;
        //         case 414:
        //             alert("验证码时间过期");
        //             break;
        //         /*case 415:
        //             alert("验证码输入正确");
        //             break;*/
        //         case 416:
        //             alert("获得验证码前后邮箱不一致");
        //             break;
        //         case 417:
        //             alert("注册失败，信息异常");
        //             break;
        //         case 1000:
        //             alert("注册成功");
        //             break;
        //         default:
        //             break;
        //     }
        // }

        /**
         * 验证码按钮特效
         * @type {number}
         */
        var wait = 60;

        function setButtonStatus(that) {
            if (wait == 0) {
                that.removeAttribute("disabled");
                that.value = "免费获取验证码";
                wait = 60;
            } else {
                that.setAttribute("disabled", true);
                that.value = wait + "秒后可以重新发送";
                wait--;
                setTimeout(function () {
                    setButtonStatus(that)
                }, 1000)
            }
        }



        /**
         * 获取验证码
         * @param that
         */
        function checkEmail(that) {
            if (!validateEmail()){
                alert("请输入有效的邮箱")
            }
            $("#signUpForm").ajaxSubmit({
                url: "/api/v1/sendEmailCode",
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (data) {
                        //邮箱验证成功
                        setButtonStatus(that);
                       alert("发送成功")
                    } else {
                        alert("发送失败")
                    }
                }
            });

        }

        // /**
        //  * 注册账户
        //  */
        // function register() {
        //     $("#signUpForm").ajaxSubmit({
        //         url: "/webSignUp.do",
        //         dataType: "json",
        //         type: "post",
        //         success: function (data) {
        //             $.each(data, function (n, vals) {
        //                 // checkStatus(vals);
        //             })
        //         }
        //     })
        // }

        /**
         * 检验验证码是否正确
         */
        $(function () {
            $("#signUpButton").click(function () {
                if (!checkUserName())
                    return;
                if (!validateEmail())
                    return;
                if (!checkPassword())
                    return;
                if (!checkPhone())
                    return;
                if (!checkCode())
                    return;
                var pwd = $("input[name=userpwd]").val();
                var password = $.md5(pwd);
                $("input[name=userpassword]").attr("value", password);
                $("#signUpForm").ajaxSubmit({
                    url: "/api/v1/account/register",
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                       alert(data.message);
                        switch (data.resultCode){
                            case "1000":
                                location.href="/userLogin.htm";
                                break;
                            case "200":
                                location.href="/findPwd.htm";
                                break;
                        }
                    }
                })
            })
        });


        //验证用户名（为3~16个字符，且不能包含”@”和”#”字符）
        function checkUserName() {
            var name = document.getElementById("userName").value.trim();
            var nameRegex = /^[^@#]{3,16}$/;
            if (!nameRegex.test(name)) {
                document.getElementById("nameInfo").innerHTML = "用户名为3~16个字符，且不能包含”@”和”#”字符";
                return false;
            }
            $.ajax({
                type: "post",
                url: "/api/v1/regUsername?username=" + name,
                success: function (data) {
                    var vCount = parseInt(data);
                    if (vCount == 0) {
                        return true;
                    }
                    else {
                        alert("用户名已被占用");
                        document.getElementById("nameInfo").innerHTML = "用户名已被占用！";
                        return false;
                    }
                }
            });
                document.getElementById("nameInfo").innerHTML = "";
                return true;
        }


        //验证密码（长度在8个字符到16个字符）
        function checkPassword() {
            var password = document.getElementById("userPassword").value.trim();
            //var password=$("#password").value;
            $("#passwordInfo").innerHTML = "";
            //密码长度在8个字符到16个字符，由字母、数字和".""-""_""@""#""$"组成
            //var passwordRegex=/^[0-9A-Za-z.\-\_\@\#\$]{8,16}$/;
            //密码长度在8个字符到16个字符，由字母、数字和"_"组成
            var passwordRegex = /^[0-9A-Za-z_]\w{7,15}$/;
            if (!passwordRegex.test(password)) {
                document.getElementById("passwordInfo").innerHTML = "密码长度必须在8个字符到16个字符之间";
                return false;
            } else {
                document.getElementById("passwordInfo").innerHTML = "";
                return true;
            }
        }

        /*
          * Email校验方法
        */
        function validateEmail() {
            var value = document.getElementById("userEmail").value.trim();
            /*
             * 1. 非空校验
             */
            if (!value) {
                /*
                 * 获取对应的label
                 * 添加错误信息
                 * 显示label
                 */
                document.getElementById("emailInfo").innerHTML = "Email不能为空！";
                return false;
            }
            /*
             * 2. Email格式校验
             */
            if (!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(value)) {
                /*
                 * 获取对应的label
                 * 添加错误信息
                 * 显示label
                 */
                document.getElementById("emailInfo").innerHTML = "错误的Email格式！";
                return false;
            }
            $.ajax({
                type: "post",
                url: "/api/v1/reg?email=" + value,
                success: function (data) {
                    var vCount = parseInt(data);
                    if (vCount == 0) {
                        return true;
                    }
                    else {
                        alert("邮箱已经被占用");
                        document.getElementById("emailInfo").innerHTML = "邮箱已经被占用！";
                        return false;
                    }
                }
            });
            document.getElementById("emailInfo").innerHTML = "";
            return true;
        }


        function checkPhone() {
            var value = document.getElementById("userPhone").value.trim();
            /*
             * 1. 非空校验
             */
            if (!value) {
                /*
                 * 获取对应的label
                 * 添加错误信息
                 * 显示label
                 */
                document.getElementById("userPhoneInfo").innerHTML = "手机号为空！";
                return false;
            }
            /*
          * 2. 手机号格式校验
          */
            var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(value)) {
                /*
                 * 获取对应的label
                 * 添加错误信息
                 * 显示label
                 */
                document.getElementById("userPhoneInfo").innerHTML = "请输入有效的手机号！";
                return false;
            }
            document.getElementById("userPhoneInfo").innerHTML = "";
            return true;
        }

        function checkCode() {
            var value = document.getElementById("emailCode").value.trim();
            /*
             * 1. 非空校验
             */
            if (!value) {
                /*
                 * 获取对应的label
                 * 添加错误信息
                 * 显示label
                 */
                document.getElementById("emailCodeInfo").innerHTML = "验证码为空！";
                return false;
            }
            document.getElementById("emailCodeInfo").innerHTML = "";
            return true;
        }

    </script>
</head>
<body>
<div class="form">

    <div id="signup">
        <h1>Sign Up for Free</h1>

        <form method="post" id="signUpForm">
            <input type="hidden" value="signUp" name="method">
            <div class="top-row">
                <div class="field-wrap">
                    <input type="text" required autocomplete="off" placeholder="用户名*" id="userName" name="username"
                           onblur="checkUserName()"/>
                    <span id="nameInfo"></span>
                </div>

                <div class="field-wrap">
                    <input hidden name="userpassword">
                    <input type="password" required autocomplete="off" placeholder="密码*" id="userPassword"
                           name="userpwd" onblur="checkPassword()"/>
                    <span id="passwordInfo"></span>
                </div>
            </div>

            <div class="field-wrap">
                <input type="email" required autocomplete="off" placeholder="邮箱地址*" id="userEmail" name="useremail"
                       onblur="validateEmail()"/>
                <span id="emailInfo"></span>
            </div>

            <div class="field-wrap">
                <input type="text" required autocomplete="off" placeholder="手机号*" id="userPhone" name="userPhone"
                       onblur="checkPhone()"/>
                <span id="userPhoneInfo"></span>
            </div>

            <div class="top-row">
                <div class="field-wrap">
                    <input type="text" required autocomplete="off" placeholder="邮箱验证码*" name="verifycode" id="emailCode" onblur="checkCode()"/>
                    <span id="emailCodeInfo"></span>
                </div>

                <div class="field-wrap">
                    <input type="button" required autocomplete="off" value="获取验证码" id="emailCodes"
                           onclick="checkEmail(this)"/>
                </div>
            </div>

            <button type="button" class="button button-block" id="signUpButton">注册</button>

        </form>

    </div>

</div>
</body>
</html>